* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.btnstils{
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
}
.btnstils:hover{
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}



a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}
.delbtn{
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(217, 217, 217);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.delbtn:hover{
  background-color: rgb(184, 184, 184);
  cursor: pointer;

}







table,thead,tr,th,td{
    border: 2px solid black;
    padding: 1rem;
}
legend{
    font-weight: bold;
    font-size: 3rem;
}
form{
    display: flex;
    border: 2pxx solid black;
    flex-direction: column;
    width: 15rem;
    margin-left: 10rem;
    gap: 0.5rem;
}
.hidden{
    display: none;
}