* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}



a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}







table,thead,tr,th,td{
    border: 2px solid black;
    padding: 1rem;
}
legend{
    font-weight: bold;
    font-size: 3rem;
}
form{
    display: flex;
    border: 2pxx solid black;
    flex-direction: column;
    width: 15rem;
    margin-left: 10rem;
    gap: 0.5rem;
}
.hidden{
    display: none;
}